<div class="container-fluid content1">
    <div class="main">
        <div class="btn">

            <!-- <img src="assets/img/logo.jpg" alt="Logo" onclick="openlist()" id="img" class="logo rounded-circle" width="95px"
                height="95px"> -->
            <img src="assets/img/surys.jpg" alt="Logo" onclick="openlist()" id="img" class="logo rounded-circle" width="95px"
                height="95px">
            <!-- <img src="assets/img/logo_1.png" alt="Logo" onclick="openlist()" class="logo rounded-circle" width="95px"
                height="95px"> -->
            <!-- <button class="logo custom-btn btn-9" onclick="openlist()"><span>Read More</span></button> -->
        </div>
    </div>
</div>
<div class="container-fluid" id="content2">
    <div class="lists">
        
        <a href="#about" class="menus">About</a>
        <a href="#why-us" id="why-us" class="menus">Why-us</a>
        <a href="#specialities" id="specialities" class="menus">Our-specialities</a>
        <a href="#contact" class="menus">Contact</a>
        <a href="/login" class="menus">Login</a>
        <a href="/register" class="menus">Register</a>
    </div>

</div>

<section id="home" class="">
    <div class=" ">
        <div class="header ">
            <div class="inner-header">
                <!-- <h1>Waves</h1> -->

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div id="" class="carousel slide  carousel-margin-top" data-ride="carousel"
                                data-interval="5000">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <!--  -->
                                        <div class="container-fluid">
                                            <div class="row pt-4">
                                                <div class="col-md-4 d-flex justify-content-center pb-5 pl-5 pr-5 pt-0">
                                                    <!-- <img src="assets/img/surya1.png" class="d-block w-75" alt="Logo"> -->
                                                    <img src="assets/img/surys.jpg" class="d-block w-75 rounded-circle" alt="Logo">
                                                </div>
                                                <div class="col-md-8 pt-4 ">
                                                    <div class="">
                                                        <div class="">
                                                            <!-- <h1 class="heading text-center sol_box">Freelancing Club</h1> -->
                                                                <h1 class="heading text-center sol_box">Surya Group of
                                                                    Company</h1>
                                                            <h4 class="text-center text-white sol_box">
                                                                Lorem ipsum dolor sit, amet consectetur adipisicing
                                                                elit. Quia culpa voluptatem similique quae doloremque
                                                                itaque error. Dolorum eligendi ex corporis assumenda,
                                                                cupiditate, quibusdam nam doloribus, rerum quae amet
                                                                adipisci saepe.
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item ">
                                        <div class="container-fluid">
                                            <div class="row justify-content-around">
                                                <div class="col-md-5 mrgn-b">
                                                    <div class="card-box">
                                                        <!-- <h3 class="heading text-center">First</h3> -->
                                                        <p class="text-center ">
                                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                                            Quia culpa voluptatem similique quae doloremque itaque
                                                            error. Dolorum eligendi ex corporis assumenda, cupiditate,
                                                            quibusdam nam doloribus, rerum quae amet adipisci saepe.
                                                        </p>
                                                    </div>

                                                </div>
                                                <div class="col-md-5 ">
                                                    <div class="card-box">
                                                        <!-- <h3 class="heading text-center">Second</h3> -->
                                                        <p class="text-center ">
                                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                                            Quia culpa voluptatem similique quae doloremque itaque
                                                            error. Dolorum eligendi ex corporis assumenda, cupiditate,
                                                            quibusdam nam doloribus, rerum quae amet adipisci saepe.
                                                        </p>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="row justify-content-center mt-4 mb-4">
                                                <div class="col-md-5">
                                                    <div class="card-box">
                                                        <!-- <h3 class="heading text-center">Third</h3> -->
                                                        <p class="text-center ">
                                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                                            Quia culpa voluptatem similique quae doloremque itaque
                                                            error. Dolorum eligendi ex corporis assumenda, cupiditate,
                                                            quibusdam nam doloribus, rerum quae amet adipisci saepe.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12 ">
                                                    <div class="heading">
                                                        <h1 class="text-center text-white"> This is heading</h1>
                                                    </div>
                                                    <div class="paragraph">
                                                        <p class="text-center text-white">Lorem, ipsum dolor sit amet
                                                            consectetur adipisicing elit. Quisquam nobis animi amet
                                                            nulla saepe, tempore dolor dolorem assumenda minus iusto
                                                            consectetur odio modi officia veritatis, perferendis
                                                            doloremque facere architecto deserunt.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <!--Waves Container-->
            <div>
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                        <path id="gentle-wave"
                            d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                    </g>
                </svg>
            </div>
            <!--Waves end-->

        </div>
    </div>

</section>