</div>
</div>
</div>
<script>
    function myFunction() {
        var element = document.getElementById("wrapper");
        const button = document.querySelector('wrapper');
        if (element.classList.contains('toggled'))
            element.classList.remove("toggled");
        else {
            element.classList.add("toggled");
        }
    }
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
