<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/user/header') %>
    <title>User Dashboard</title>
</head>
<body>


    <%- include('../../partials/user/navbar') %>

        <!-- Page Content -->


                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="text-center">Hello User</h1>
                            </div>
                            <div class="col-6">
                                <div class="content">
                                    Hello World!!
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="content">
                                    Hello World!!
                                </div>
                            </div>
                        </div>
                      </div>
      
        <!-- /#page-content-wrapper -->

     <%- include('../../partials/user/footer') %>
</body>

</html>