<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/admin/header') %>
    <title>Admin Dashboard</title>
</head>
<body>

    <%- include('../../partials/admin/navbar') %>

        <!-- Page Content -->


                    <div class="container">
                        <div class="row ">
                            <div class="col-12">
                                <h1 class="text-center">Hello Admin</h1>
                            </div>
                            <!-- <div class="col-6">
                                <div class="content">
                                    Hello World!!
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="content">
                                    Hello World!!
                                </div>
                            </div> -->
                        </div>
                      </div>
        </div>
        <!-- /#page-content-wrapper -->

     <%- include('../../partials/admin/footer') %>

</body>

</html>