<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/admin/header') %>
        <title>Admin Email</title>
    </head>
<body>

    <%- include('../../partials/admin/navbar') %>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div>
                        <iframe src="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" height="700px" width="100%" style="border:none;" title="Email"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../../partials/admin/footer') %>

</body>

</html>